.myDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;

}

.example-result-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255,0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #3f51b5;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-control {
  font-size: 16px;
  padding: 10px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
  flex: 1;
}

.input-group-text {
  background-color: #3f51b5;
  color: white;
  padding: 10px 12px;
  border-radius: 0 6px 6px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
}

.example-name-label {
  font-weight: 600;
  color: #333;
}

.example-value-label {
  font-size: 14px;
  color: #666;
}

.example-margin {
  width: 100%;
  margin-bottom: 20px;
}

.example-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.example-section div p {
  margin: 5px 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
